<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joelmo.dev</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav class="navbar">
        <a class="logo" href="https://joelmo.dev">joelmo <span></span> dev</a>
        <div class="actions">
            <button class="theme-toggle">Aa</button>
        </div>
    </nav>


    <div class="container">
        <a class="return-link" href="/">← Back to Home</a>
        <section class="general-system">
            <div class="status <%= statusClass %>"></div>
            <div class="info">
                <h2 class="ls">
                    <%= statusMessage %>
                </h2>
                <p>Last updated: <%= lastUpdated %>
                </p>
            </div>
        </section>

        <h2 class="section-title">
            Overall Uptime
        </h2>
        <section class="overall">
            <div class="overall-stats">
                <div class="overall-card">
                    <p class="overall-uptime">
                        <%= project.uptime90.toFixed(2) %>%
                    </p>
                    <p class="overall-period">Last 90 days</p>
                </div>
                <div class="overall-card">
                    <p class="overall-uptime">
                        <%= project.uptime30.toFixed(2) %>%
                    </p>
                    <p class="overall-period">Last 30 days</p>
                </div>

                <div class="overall-card">
                    <p class="overall-uptime">
                        <%= project.uptime7.toFixed(2) %>%
                    </p>
                    <p class="overall-period">Last 7 days</p>
                </div>

                <div class="overall-card">
                    <p class="overall-uptime">
                        <%= project.uptime1.toFixed(2) %>%
                    </p>
                    <p class="overall-period">Last 24 hours</p>
                </div>
            </div>
        </section>

        <h2 class="section-title" id="uptime-section-project">
            Uptime <span class="muted">Last 90 days</span>
        </h2>
        <section id="projects" class="services">
            <div class="service-card"
                data-service="<%= project.name %>"
                data-description="<%= project.url %>"
                data-history="<%= project.history %>"
                data-uptime="<%= project.uptime90 %>"
                data-status="<%= project.status %>"
                projectID="<%= project.id %>">
            </div>
        </section>

        <h2 class="section-title">
            Response Time
        </h2>
        <section class="chart-section">
            <canvas id="responseTimeChart"></canvas>
        </section>
    </div>
    <script>
        window.responseChart = <%- JSON.stringify(project.responseSeries) %>
    </script>
    <script src="/js/script.js"></script>
    <script src="/js/chart.js"></script>
</body>

</html>